<div class="container">
  <div class="mood-log-header">
    <h1 class="my-4">Mood Mosaic</h1>
    <%= link_to 'log out', destroy_user_session_path, class: 'logout-btn' %>
  </div>
  <div class="moods-container">
    <% @moods.each do |mood| %>
      <div class="mosaic-card <%= class_names("card-body--#{mood.feeling}") %>">
        <div class="mosaic-feeling">
          <%= mood.mood_icon.html_safe %>
        </div>
        <div class="mosaic-details">
          <p><%= mood.created_at.strftime('%d %b') %></p>
          <div id="icon">
            <%= mood.category&.category_icon&.html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
