    <h1 class="centered-heading"><%= @mood.category.name %>  playlists and blogs for a <%=@mood.feeling%> feeling</h1>
<div class="container">
<% @all_content.each do |content| %>
<% if content.class == Content %>

    <div class="blog-card">
      <%= link_to content_path(content), class: 'card-link' do %>
        <div class="card-body">
          <h5 class="card-title"><%= content.title %></h5>
          <% if content.blogs? %>
            <%= link_to 'read more...', content_path(content) %>
          <% end %>
        </div>
      <% end %>
    </div>
<% else %>

  <% if content[:preview_url] %>
    <p>Preview:</p>
    <audio controls>
      <source src="<%= content[:preview_url] %>" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  <% end %>
  <iframe src="<%= content[:embed_url] %>" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<% end %>
<% end %>





  <%# @contents.each do |content| %>
  <%# end %>
<!--</div>
<hr>
<div class="container">
    <div class="cards">
  <%# @songs.each do |song| %>-->
    <%# <div class="card-category"> %>
  <%# end %>
<!--    </div>
</div>
-->
